@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  background-color: white;
}

header {
  padding: 0rem 5rem 0rem 3rem;
}
header .colorBar div div a img {
  width: 13rem;
  height: 13rem;
}
header .colorBar div div .textBar {
  font-family: "Montserrat", sans-serif;
  font-size: 33px;
}
header div {
  gap: 3px;
}
header div .botonCarrito {
  font-size: 23px;
  padding-right: 0;
}
header div .contadorCarrito {
  color: white;
  margin: 0;
  background-color: #1C3144;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}

aside div div table thead .tituloTabla {
  text-align: center;
}
aside div div table #carritoOffcanvas .tablaProductos {
  height: 5rem;
}
aside div div table #carritoOffcanvas .tablaProductos td {
  width: 200px;
}
aside div div table #carritoOffcanvas .tablaProductos td img {
  width: 85%;
}
aside div div table #carritoOffcanvas .tablaProductos .infoProducto {
  font-size: 15px;
  text-align: center;
}
aside div div table #carritoOffcanvas .tablaProductos .eliminarProducto {
  font-size: 22px;
  color: #B3061B;
  height: 10px;
}
aside div div table #carritoOffcanvas .tablaProductos .eliminarProducto .deleteIconify {
  border: 1px solid #B3061B;
  cursor: pointer;
}
aside div .botonComprar {
  background-color: #1C3144;
  padding: 0.8rem 2rem;
  border-radius: 4px;
  border: none;
  width: fit-content;
  color: white;
}
aside div .botonComprar:hover {
  background-color: #d64b3c;
}

main {
  /*background-color: gray;*/
}
main .t1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 40px;
  font-style: bold;
  background-color: #B3061B;
  color: #EEEEEE;
  height: auto;
  width: auto;
  margin: 0;
}
main section .indexH1 {
  font-family: "Open Sans", sans-serif;
  display: flex;
  background-color: rgb(9, 71, 37);
  color: #EEEEEE;
  height: auto;
  width: auto;
  margin: 0;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  font-size: 1.4em;
  text-align: center;
  overflow: hidden;
}
main section .indexH1 p {
  padding: 3rem;
  font-style: italic;
  text-align: justify;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
main section .indexH1 img {
  padding: 0rem 0rem;
  padding: 0rem 3rem;
  width: 40%;
  height: 40%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #1C3144;
  color: #EEEEEE;
  margin-bottom: 0;
}
main .item1 .titulo2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
  font-size: 30px;
}
main .item1 .funDesigner {
  display: flex;
  flex-basis: auto;
  gap: 0;
}
main .item1 .funDesigner .imgweb {
  padding: 0rem 0rem;
  padding: 0rem 3rem;
  width: 75%;
  height: 75%;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  padding: 40px;
  background-color: #00ADB5;
  color: #EEEEEE;
  margin-bottom: 0;
}
main .item1 .funDesigner div p {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 24px;
  margin: 0;
  background-color: #222831;
  color: white;
}
main .item1 .funDesigner div ul {
  background-color: #222831;
  color: #EEEEEE;
  height: auto;
  width: auto;
  margin: 0;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  font-size: 1.4em;
  text-align: center;
  padding: 40px;
  overflow: hidden;
}
main .item1 .funDesigner div ul li {
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  font-size: 20px;
}
main section .titulo3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 25px;
  font-style: oblique;
  margin: 0;
  background-color: rgb(180, 180, 180);
}
main section .ytb {
  background: linear-gradient(black, white);
  padding: 2rem 5rem;
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}
main section .ytb .titulo4 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
  font-size: 20px;
  color: white;
}

main section {
  background-color: sandybrown;
}
main section .subs {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
main section #contenedorProductos {
  padding: 2rem 5rem;
  display: grid;
  align-content: center;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
main section #contenedorProductos .flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}
main section #contenedorProductos .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
main section #contenedorProductos .flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
main section #contenedorProductos .flip-card .flip-card-inner .flip-card-front, main section #contenedorProductos .flip-card .flip-card-inner .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
main section #contenedorProductos .flip-card .flip-card-inner .flip-card-front {
  background-color: transparent;
  color: black;
}
main section #contenedorProductos .flip-card .flip-card-inner .flip-card-front img {
  width: 300px;
  height: 180px;
}
main section #contenedorProductos .flip-card .flip-card-inner .flip-card-back {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #B3061B;
  color: white;
  transform: rotateY(180deg);
  padding: 2rem;
}
main section #contenedorProductos .flip-card .flip-card-inner .flip-card-back .tituloCard, main section #contenedorProductos .flip-card .flip-card-inner .flip-card-back p {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 25px;
}
main section #contenedorProductos .flip-card .flip-card-inner .flip-card-back p {
  font-style: italic;
}
main section #contenedorProductos .flip-card .flip-card-inner .flip-card-back button {
  border-radius: 2rem;
  border-color: transparent;
  background-color: #1C3144;
  color: white;
  font-size: 20px;
}

main .formMod {
  background: linear-gradient(red, purple);
}
main .formMod .titulo5 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 40px;
  font-style: bold;
  color: white;
}
main .formMod .formularioContacto {
  padding: 2rem 8rem;
  gap: 30px;
  display: grid;
  grid-template-areas: "nombre apellido edad" "mail telefono direccion" "contacto contacto submit";
}
main .formMod .formularioContacto .inputNombre {
  grid-area: nombre;
}
main .formMod .formularioContacto .inputApellido {
  grid-area: apellido;
}
main .formMod .formularioContacto .inputEdad {
  grid-area: edad;
}
main .formMod .formularioContacto .inputMail {
  grid-area: mail;
}
main .formMod .formularioContacto .inputPhone {
  grid-area: telefono;
}
main .formMod .formularioContacto .inputDir {
  grid-area: direccion;
}
main .formMod .formularioContacto .textArea {
  grid-area: contacto;
}
main .formMod .formularioContacto .inputSubmit {
  grid-area: submit;
  width: 20%;
  height: 20%;
}

main .quien {
  font-size: 25px;
  background-color: white;
}
main .quien h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
  font-size: 30px;
  background-color: #1C3144;
  color: white;
}
main .quien div {
  display: flex;
}
main .quien div h3 {
  padding: 5rem 8rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: justify;
}
main .quien div img {
  padding: 1rem 5rem 2rem;
}
main .quien_tabla {
  background-color: white;
}
main .quien_tabla .titu {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
  font-size: 30px;
  background-color: #1C3144;
  color: white;
}
main .quien_tabla table {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  height: 8rem;
}
main .port {
  background-color: rgba(128, 128, 128, 0.779);
}
main .port h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
  font-size: 30px;
  background-color: #1C3144;
  color: white;
}
main .port div {
  justify-content: center;
  align-items: center;
}
main .port div .carr1 {
  padding: 2rem 8rem;
}
main .where {
  background-color: rgb(171, 171, 232);
}
main .where h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
  font-size: 30px;
  background-color: #1C3144;
  color: white;
}

footer {
  padding: 2rem 2rem;
}
footer div {
  justify-content: center;
}
footer div .tituloFooter {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  font-size: 20px;
  margin-right: 3rem;
}
footer div .contenedorRedes {
  display: flex;
  flex-direction: column;
}
footer div .contenedorRedes a {
  color: black;
  font-size: 24px;
}

@media only screen and (max-width: 600px) {
  main .t1 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 24px;
    color: #EEEEEE;
  }
  main section .indexH1 {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 16px;
    padding-bottom: 2rem;
  }
  main section .indexH1 p {
    padding: 1rem;
    text-align: justify;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
  main section .indexH1 img {
    width: 100%;
    height: 100%;
  }
  main .item1 .titulo2 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-align: center;
    font-size: 24px;
  }
  main .item1 .funDesigner {
    display: grid;
    grid-template-columns: 1fr;
  }
  main .item1 .funDesigner .imgweb {
    width: 100%;
    height: 100%;
    padding: 12px;
  }
  main .item1 .funDesigner div p {
    font-size: 18px;
  }
  main .item1 .funDesigner div ul {
    padding: 22px;
  }
  main .item1 .funDesigner div ul li {
    font-size: 14px;
  }
}
@media only screen and (max-width: 600px) {
  header {
    padding: 0rem 2rem 0rem 2rem;
  }
  header .colorBar div div a img {
    width: 8rem;
    height: 8rem;
  }
  header .colorBar div div .textBar {
    font-size: 18px;
  }
}
@media only screen and (max-width: 600px) {
  main section .ytb {
    padding: 1rem 2rem;
    grid-template-columns: 1fr;
  }
  main section #contenedorProductos {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 1rem;
  }
  main section #contenedorProductos .flip-card {
    width: 120px;
    height: 160px;
  }
  main section #contenedorProductos .flip-card .flip-card-inner .flip-card-front img {
    width: 100%;
    height: 50%;
  }
  main section #contenedorProductos .flip-card .flip-card-inner .flip-card-back {
    padding: 1rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: #B3061B;
    color: white;
  }
  main section #contenedorProductos .flip-card .flip-card-inner .flip-card-back .tituloCard, main section #contenedorProductos .flip-card .flip-card-inner .flip-card-back p {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 75%;
  }
  main section #contenedorProductos .flip-card .flip-card-inner .flip-card-back button {
    border-radius: 2rem;
    border-color: transparent;
    background-color: #1C3144;
    color: white;
    font-size: 8px;
  }
}
@media only screen and (max-width: 600px) {
  main .quien {
    font-size: 18px;
    background-color: white;
  }
  main .quien div {
    display: grid;
    grid-template-columns: 1fr;
  }
  main .quien div h3 {
    padding: 1rem 1rem;
    font-size: 20px;
  }
  main .quien div img {
    width: 100%;
    height: 100%;
  }
  main .port div .carr1 {
    padding: 1rem 3rem;
    width: 120%;
    height: 120%;
  }
}
@media only screen and (max-width: 600px) {
  main .formMod .titulo5 {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 24px;
  }
  main .formMod .formularioContacto {
    padding: 1rem 2rem;
    gap: 2px;
    display: grid;
    grid-template-areas: "nombre apellido" "edad mail" "telefono direccion" "contacto contacto" "submit submit";
  }
  main .formMod .formularioContacto .inputNombre {
    width: 80%;
    height: 80%;
  }
  main .formMod .formularioContacto .inputApellido {
    width: 80%;
    height: 80%;
  }
  main .formMod .formularioContacto .inputEdad {
    width: 80%;
    height: 80%;
  }
  main .formMod .formularioContacto .inputMail {
    width: 80%;
    height: 80%;
  }
  main .formMod .formularioContacto .inputPhone {
    width: 80%;
    height: 80%;
  }
  main .formMod .formularioContacto .inputDir {
    width: 80%;
    height: 80%;
  }
  main .formMod .formularioContacto .textArea {
    width: 80%;
    height: 80%;
  }
  main .formMod .formularioContacto .inputSubmit {
    font-size: 15px;
    width: 80%;
    height: 80%;
  }
}

/*# sourceMappingURL=styles.css.map */
